p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
#dropContainer {
    width: 400px;
    border: 15px solid white;
    padding-left: 122px;
}